* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  padding: 5rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: 16px;
  color: rgb(49, 49, 49);
  background: rgb(223, 218, 218);
}
#content {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.45);
}
#left-div {
  background: white;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 3rem;
}
#left-div-content h2,
h3 {
  margin: 1rem 0;
}
h2 {
  font-size: 4.5rem;
}
h3 {
  font-size: 2.5rem;
}
span {
  color: red;
}
input {
  padding: 1rem;
  outline: none;
  border: none;
  text-align: center;
  cursor: pointer;
  background: rgb(252, 252, 252);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}
#btn,
#reset {
  margin-left: 2rem;
  padding: 1rem;
  cursor: pointer;
  outline: none;
  border: none;
  background: rgb(252, 252, 252);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}
#btn:hover,
#reset:hover {
  color: white;
  background: rgb(136, 7, 7);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
#right-div {
  background: rgb(136, 7, 7);
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 3rem;
}
#output {
  color: white;
  font-size: 3rem;
  margin: 8rem 0 0 3rem;
}
#content {
  width: auto;
  height: 40rem;
  background: black;
  display: flex;
  align-items: flex-start;
  font-weight: bolder;
}
#policy {
  cursor: pointer;
  color: white;
  font-weight: bold;
}
#policy:hover {
  opacity: 0.4;
}
#policy-card {
  visibility: hidden;
  color: #fff;
  transform: translate(-50%, -50%);
  background: rgba(255, 132, 132, 0.753);
  border-radius: 4px;
  padding: 2rem;
  position: fixed;
  left: 50%;
  bottom: 35%;
  font-size: 1.5rem;
  z-index: 1;
}
.message {
  display: none;
  color: #fff;
  transform: translate(-50%, -50%);
  background: rgba(255, 132, 132, 0.753);
  border-radius: 4px;
  padding: 2rem;
  position: fixed;
  left: 50%;
  bottom: 35%;
  font-size: 1.5rem;
  z-index: 1;
}
#policy-card.show {
  visibility: visible;
}
#footer {
  margin-top: 5rem;
  width: auto;
  height: 8rem;
  background: rgb(136, 7, 7);
  display: flex;
  justify-content: center;
  padding: 2rem;
  align-items: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.45);
}
.inline-list li {
  list-style-type: none;
  display: inline;
}
li a {
  color: white;
  text-decoration: none;
  margin-right: 2.5rem;
  font-weight: bold;
}
a:hover {
  opacity: 0.4;
}
